name: Deploy Crypto Bot

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Deploy Crypto-Bot
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        key: ${{ secrets.VPS_SSH_KEY }}
        script: |
          cd /home/ubuntu/bots/crypto-bot || exit 1
          git fetch origin main
          git reset --hard origin/main
          docker compose down --remove-orphans
          docker compose build
          docker compose up -d --force-recreate
